<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- <************************** It stores global configuration, master records, and company mappings ************************** >  -->
		<add name="MasterConnection" connectionString="Server=163.227.92.15,1234;Database=LIVE_CIC_Services;User Id=cic_user;Password=ZbY4r8iS9j3A;" providerName="System.Data.SqlClient" />

		<!-- <************************** Connection string for EarlyWages ************************** >-->

		<!--<add name="EarlyWagesConnection" connectionString="Server=101.53.145.10,1234;Database=Junoon_PU;User Id=PUAPI;Password=P@isa@udh@r;" providerName="System.Data.SqlClient" />-->
		<add name="EarlyWagesConnection" connectionString="Server=101.53.145.10,1234;Database=EW_LMS;User Id=PUAPI;Password=P@isa@udh@r;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<!--<add key="RootDirectory" value="D:\Junoon Capital\ashish-junoon\SanctionApplication\SanctionApplication" />-->
		

		<add key="LogFileName" value="LogHandleProject.txt" />
		<add key="SmtpServer" value="smtp.gmail.com" />
		<add key="SmtpPort" value="587" />
		<add key="EmailFrom" value="support@earlywages.in" />
		<add key="EmailTo" value="namrata.singh@junooncapital.in" />
		<add key="EmailPassword" value="pxgo pdwo csym nojk" />
		<add key="EmailBcc" value="ewloanagreements@gmail.com|ashish@junooncapital.com" />
		<add key="Emailcc" value="ashish@junooncapital.com" />
		<add key="email_receiver_name" value="Dear Early Wages Team" />
		<add key="InformationEmailFrom" value="support@earlywages.in" />
		<add key="InformationEmailPassword" value="pxgo pdwo csym nojk" />
		<add key="InformationEmailTo" value="ashish@junooncapital.com" />
		<add key="InformationEmailcc" value="namrata.singh@junooncapital.in" />
		<add key="IsDevelopment" value="false" />
		<add key="DevelopmentEmail" value="namrata.singh@junooncapital.in" />

		<add key="EMail_ID" value="nodal.gro@junooncapital.com" />
		<add key="product_name" value="Early Wages" />
		<add key="Product" value="EarlyWages" />
		<add key="LendingPartner" value="Junoon Capital Services Pvt. Ltd." />

	</appSettings>
	
</configuration>